@import url();
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(kakashi.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.form-box {
  position: relative;
  width: 450px;
  height: 500px;
  background: transparent;
  border: 2px solid red;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 25px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.4s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon {
  position: absolute;
  right: 7px;
  top: 20px;
  color: black;
  font-size: 1.1em;
}
.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  color: #fff;
  right: 10px;
}
.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: #fff;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  background: rgb(170, 37, 37);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
}
button:hover {
  box-shadow: 0 0 5px #ac1e1ec9, 0 0 25px #ac1e1ec9, 0 0 50px #ac1e1ec9;
}
